@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --color-primary: #0652DD;
  --color-secondary: #FFC312;
  --color-gray: #bdc3c7;
  --color-light: #f5f6fa;
}

.bg-gray-900	{
  background-color: rgb(17 24 39);
}

#__next {
  height: 100%;
  font-size: 16px;
}

body {
  --tw-bg-opacity: 1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }
}

.grid-cols-main {
  grid-template-columns: 1fr 4fr;
}

main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: #f1f1f1;
}

main::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #555;
}