@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0652DD;
  --color-secondary: #FFC312;
  --color-gray: #bdc3c7;
  --color-light: #f5f6fa;
}

html,
body,
#__next {
  height: 100%;
  font-size: 16px;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }
}